@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Young+Serif&display=swap');

:root {
    --text-color: rgba(34, 25, 25, 1);
    --about-bg: rgba(235, 235, 235, 0.9);
}

.countdown-container {
    width: 100vw;
    height: 89vh;
    align-items: center;
    font-size: 2rem;
}

.countdown-display {
    background-color: var(--about-bg);
    padding: 1rem;
}

.countdown-header {
    font-family: 'Berkshire Swash', serif;
}

.countdown-container span {
    margin: 0 5px;
}

.timer-box div p {
    font-size: 30px;
    font-family: 'Berkshire Swash', serif;
}

.timer-box div span {
    font-family: 'Berkshire Swash', serif;
    font-size: 20px;
}

.shining-text {
    font-family: 'Berkshire Swash', serif;
    font-size: xx-large;
    color: var(--about-bg);
    text-align: center;
    letter-spacing: 1px;

    margin: 1rem 0;
    overflow: hidden;

    background: linear-gradient(90deg, var(--about-bg), #000, var(--about-bg));
    background-repeat: no-repeat;
    background-size: 80%;
    background-clip: text;

    animation: shine 5s linear infinite;
    -webkit-text-fill-color: transparent;
}
@keyframes shine {
    0% {
        background-position: -500%;
    }
    100% {
        background-position: 500%;
    }
}

.christmas {
    animation: christmas 1.5s linear infinite;
}
@keyframes christmas {
    0% {
        color: #991b1b
    }
    50% {
        color: #14532d
    }
    100% {
        color: #991b1b
    }
}