@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Young+Serif&display=swap');

:root {
    --text-color: rgba(34, 25, 25, 1);
    --about-bg: rgba(235, 235, 235, 0.9);
}

.countdown-container {
    width: 100vw;
    height: 89vh;
    align-items: center;
    font-size: 2rem;
}

.countdown-display {
    background-color: var(--about-bg);
    padding: 1rem;
}

.countdown-header {
    font-family: 'Berkshire Swash', serif;
}

.countdown-container span {
    margin: 0 5px;
}

.timer-box div p {
    font-size: 30px;
    font-family: 'Berkshire Swash', serif;
}

.timer-box div span {
    font-family: 'Berkshire Swash', serif;
    font-size: 20px;
}

.sleigh {
    width: 100px;
    position: absolute;
    left: 50%;
    bottom: 2rem;
    z-index: -1;
    animation: sleigh 3s linear infinite;
}

@keyframes sleigh {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.christmas {
    animation: christmas 1.5s linear infinite;
}
@keyframes christmas {
    0% {
        color: #991b1b
    }
    50% {
        color: #14532d
    }
    100% {
        color: #991b1b
    }
}