@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Young+Serif&display=swap');

:root {
    --photo-bg: rgba(252, 230, 230, 0.9);
    --magnify-bg: rgba(142, 142, 142, 0.9);
    --text-color: rgba(34, 25, 25, 1);
    --about-bg: rgba(235, 235, 235, 0.9);
}

.countdown-container {
    height: 89vh;
    align-items: center;
    font-size: 2rem;
}

.countdown-display {
    background-color: var(--about-bg);
}

.countdown-header {
    font-family: 'Berkshire Swash', serif;
}

.countdown-container span {
    margin: 0 5px;
}

.timer-box div p {
    font-size: 40px;
    font-family: 'Berkshire Swash', serif;
}

.timer-box div span {
    font-family: 'Berkshire Swash', serif;
    font-size: 30px;
}

.sleigh {
    width: 100px;
    position: absolute;
    bottom: 10%;
    animation: sleigh 10s linear infinite;
}
@keyframes sleigh {
    0% {
        left: 10%;
        opacity: 0;
    }
    50% {
        left: 50%;
        opacity: 1;
    }
    100% {
        left: 80%;
        opacity: 0;
    }
}