@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Young+Serif&display=swap');

:root {
    --text-color: rgba(34, 25, 25, 1);
    --form-bg: rgba(215, 215, 215, 0.9);
}


.form-container {
    align-items: center;
}

form {
    background-color: var(--form-bg);
    width: 85%;
    min-width: 350px;
}

.map-container {
    align-items: center;
}

.text-container {
    align-items: center;
}

textarea {
    width: 95%;
    height: 30vh;
    min-width: 200px;
}


label {
    color: var(--text-color);
}

.dear-header {
    font-family: 'Berkshire Swash', serif;
    color: var(--text-color);
}

.submit {
    margin: 2rem auto 1rem auto;
}

.submit:hover {
    transform: scale(1.02);
    transition: 350ms;
}

.form-map {
    max-width: 90%
}
